/*Estilos contenedor raiz*/
#root{
    display: flex;
    flex-direction: column;
    place-items: none;
    place-content: flex-start;
    width: 100%;
    background-color: #FAF8F7;
}

/*Estilos para encabezado de pagina*/
header{
    display: flex;
    background-color: #473630;
    justify-content: space-between;
    width: 100%;
}

nav{
    display: flex;
    background-color: #473630;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navLinks{
    color: #fff;
    font-size: larger;
}

#logOut{
    background-color: #473630;
    color: #fff;
    font-size: larger;
}

/*Contenedor de form y sección de notas*/
main{
    width: 100%;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#greeting{
    font-size: x-large;
}

/*Estilos para formulario*/
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #CFA28C;
    padding: 10px;
    border-radius: 15px;
    background-color: #F4F1EF;
    width: 400px;
}

label{
    font-size: x-large;
}
input{
    width: 350px;
    height: 30px;
    margin: 5px;
    padding: 3px;
    border: 1px solid #473630;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    letter-spacing: 0.08em;
}

textarea{
    border: 1px solid #473630;
    width: 346px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size: x-large;
    letter-spacing: 0.07em;
}

/*Estilos para sección de notas*/
ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

li{
    list-style: none;
    border: 1.5px solid #473630;
    padding: 1em;
    margin: 10px;
    width: 300px;
    height: fit-content;
    border-radius: 20px;
}

.title{
    font-weight: 500;
    color: #473630;
}

.btnNote{
    background-color: rosybrown;
    color: #fff;
    font-weight: 400;
    font-size: larger;
}

/* Estilos para modal */

.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContainer{
    width: 300px;
    min-height: 100px;
    background-color: #FAF8F7;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.modalHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #A5A59A;
}

.titleModal{
    font-weight: 500;
    color: #473630;
    margin: 0;
}

.btnClose{
    position: absolute;
    top: 17px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    color:#473630;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnClose:hover{
    background-color: #A5A59A;
}

.hide{
    display: none;
    border: none;
}

@media only screen and (min-width: 600px) {
    /* Estilos para modal */
    .modalContainer{
        width: 430px;
        min-height: 100px;
    }
}

@media only screen and (min-width: 1181px) {
    /* Estilos para modal */
    .modalContainer{
        width: 500px;
        min-height: 150px;
    }
}