@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body{
    place-items: center;
}
#root{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FAF8F7;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    place-content: space-between;
}

main{
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    background-color: #FAF8F7;
}

.logo{
    width: 219px;
    height: 243px;
}

.googleIcon {
    width: 26px;
    height: 27px;
    margin: 7px;
}

.welcome{
    font-weight: 500;
    font-size: x-large;
}

.mainTitle{
    font-weight: bold;
    font-size: xx-large;
}
.btnsContainer{
    display: flex;
    flex-wrap: wrap;
}
.btn{
    display: flex;
    width: 230px;
    height: 45px;
    border-radius: 20px;
    margin: 10px;
    background-color: #473630;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: larger;
    letter-spacing: 0.08em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    background-color: #893F45;
    border: #5e2b2f;
}

@media only screen and (min-width: 600px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 350px;
        height: 389px;
    }
    
    .googleIcon {
        width: 26px;
        height: 27px;
        margin: 7px;
    }
    
    .welcome{
        font-weight: 500;
    }
    
    .mainTitle{
        font-weight: bold;
    }
    .btnsContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .btn{
        display: flex;
        width: 230px;
        height: 50px;
        border-radius: 20px;
        margin: 10px;
        background-color: #473630;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        font-size: larger;
        letter-spacing: 0.08em;
    }
}

@media only screen and (min-width: 1181px) {
    .logo{
        width: 219px;
        height: 243px;
    }
    .welcome{
        font-size: 2em;
    }
    
    .mainTitle{
        font-size: 2.5em;
    }
    .btn{
        font-size: large;
    }
}